<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="detalhes.css">
    <title>Detalhes do Produto</title>
</head>
<body>
   
      <header class = "header">
           
            <img src="#" alt="logolivraria" title="logo" id="logolivraria"/>
            <nav class="Menu">
             <a href=""> Minha conta </a>
             <a href=""> Minhas listas </a>
             <img src="#" alt="carrinhodecompra" title="carrinhodecompra" id="carrinhodecompra"/>
             <br>
             <select name="Menuheader" id="">
                 <option value="autor">Autor</option>
                 <option value="titulo">Titulo</option>
                 <option value="editora">Editora</option>
           
                         
             </select>
             <input type="text" name = "busca">
             <h2>Compre aqui livros novos, usados e seminovos de milhares de sebos e livrarias.</h2>
             </nav>
             <div class="barra do menu">
                <a href=""> Estante- </a>
                <a href=""> Sebo & Livreiros </a>
                <a href=""> Livros recomendados </a>
                <a href="">Livros Mais vendidos  </a>
                <a href="">Blog </a>
             </div>
    </header>
    <nav>
        <h1 class="livro-titulo" name="MENTIROSOS">
            MENTIROSOS
        </h1>
        <div class="titulo L1">
            <img src="/img/mentirosos.jpg" alt="mentirosos" title="mentirosos" id="mentirosos"/>
            <br>
            <section class="infoL1">
                <div class="infoL1">
                    <ul>
                <li><a href=""> Tipo: novo </a></li>   
               <li><a href=""> Editora: seguinte </a></li>
               <li><a href=""> Ano </a></li>
               <li><a href="">Estante  </a></li>
                <li><a href="">Peso</a></li>
                <li><a href="">ISBN</a></li>
                <li><a href="">Idioma</a></li>
                <li><a href="">Cadastrado em:</a></li>
                <li><a href="">Descrição:</a></ul>
                <div class="descrição L1"></div>
                       <p>Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Hic, commodi aspernatur distinctio 
                     ducimus, fugiat illo pariatur facere labore aliquam 
                     ipsam officia ab enim?
                     Amet pariatur dolorem, eos voluptate cupiditate porro.</p></li></div>

                </div>


            </section>
    </nav>
    
</body>
</html>