<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css\home.css">
    <title>Home</title>
</head>
<body>
     <header>
        <img id="logo" src="img/logo2.png" alt="logo" title="logo" />
         <nav id="menu">
         <a href="">Minha conta</a>
         <a href="">Minhas listas</a>
         </nav>
         
         <img id="carrinho" src="img/cart.png" alt="carrinho" title="carrinho" />
         <h2>Compre aqui livros novos, usados e seminovos de milhares de sebos e livrarias.</h2>
          <br>         
        <div class = "search">
          <form action="search" method="POST">
            <input type="text" name = "search" id = "search" placeholder="Faça sua busca" required>
            <button type = "submit">Buscar</button>
          </form>
        </div>
      

         <br>
         </header>

<main>
    <section class="menudois">
              
    <button type="button" class="botao"><a href=""> ESTANTE </a></button>
    <button type="button" class="botao"><a href=""> SEBO & LIVREIROS</a></button>
    <button type="button" class="botao"><a href=""> LIVROS RECOMENDADOS </a></button>
    <button type="button" class="botao"><a href=""> LIVROS MAIS VENDIDOS </a></button>
    <button type="button" class="botao"><a href=""> BLOG </a>
    </section>
    <section class = "banner-header">
        <div>
            <img src="/img/banner-livros.png" alt="bannerlivros" title="bannerlivros" id="bannerlivros"/>
        </div>
        </section>


        <h3>Conheça os livros mais vendidos</h3>
<section class = "maisvendidos">
       <div >
        <img src="/img/omeninoqueroubavalivros.jpg" alt="omeninoqueroubavalivros" title="omeninoqueroubavalivros" id="omeninoqueroubavalivros"/>
        <br>
        <small>R$19,90</small>
        <br>
        <b>Compre Agora</b>
          </div>

          <div >
            <img src="/img/domquixote.jpg" alt="domquixote" title="domquixote" id="domquixote"/>
            <br>
            <small>R$19,90</small>
            <br>
            <b>Compre Agora</b>
              </div>

              <div >
                <img src="/img/quartetodedespejo.jpg" alt="quartetodedespejo" title="quartetodedespejo" id="quartetodedespejo"/>
                <br>
                <small>R$19,90</small>
                <br>
                <b>Compre Agora</b>
                  </div>

                  <div >
                    <img src="/img/mentirosos.jpg" alt="mentirosos" title="mentirosos" id="mentirosos"/>
                    <br>
                    <small>R$19,90</small>
                    <br>
                    <b>Compre Agora</b>
                      </div>

                      <div >
                        <img src="/img/omongeeoexecutivo.jpg" alt="omongeeoexecutivo" title="omongeeoexecutivo" id="omongeeoexecutivo"/>
                        <br>
                        <small>R$19,90</small>
                        <br>
                        <b>Compre Agora</b>
                          </div>

                          <div >
                            <img src="/img/omongeeoexecutivo.jpg" alt="omongeeoexecutivo" title="omongeeoexecutivo" id="omongeeoexecutivo"/>
                            <br>
                            <small>R$19,90</small>
                            <br>
                            <b>Compre Agora</b>
                              </div>

                              <div >
                                <img src="/img/omongeeoexecutivo.jpg" alt="omongeeoexecutivo" title="omongeeoexecutivo" id="omongeeoexecutivo"/>
                                <br>
                                <small>R$19,90</small>
                                <br>
                                <b>Compre Agora</b>
                                                   </div>
</section>

<h3>Boxes imperdíveis: leve mais por menos!</h3>       
<section class = "imperdiveis">

    <div>
        <img src="/img/boxosbridgetons.jpeg" alt="boxosbridgetons" title="boxosbridgetons" id="boxosbridgetons"/>
        <br>
        <small>R$99,90</small>
        <br>
        <b>Compre Agora</b>
          </div>

          <div>
            <img src="/img/boxtrindade.livro.jpeg" alt="boxtrindade" title="boxtrindade" id="boxtrindade"/>
            <br>
            <small>R$99,90</small>
            <br>
        <b>Compre Agora</b>
              </div>

              <div>
                <img src="/img/boxtrindade.livro.jpeg" alt="boxtrindade" title="boxtrindade" id="boxtrindade"/>
                <br>
                <small>R$99,90</small>
                <br>
        <b>Compre Agora</b>
                  </div>

                  <div>
                    <img src="/img/boxtrindade.livro.jpeg" alt="boxtrindade" title="boxtrindade" id="boxtrindade"/>
                    <br>
                    <small>R$99,90</small>
                    <br>
        <b>Compre Agora</b>
                      </div>

                      <div>
                        <img src="/img/boxtrindade.livro.jpeg" alt="boxtrindade" title="boxtrindade" id="boxtrindade"/>
                        <br>
                        <small>R$99,90</small>
                        <br>
        <b>Compre Agora</b>
                          </div>

                          <div>
                            <img src="/img/boxtrindade.livro.jpeg" alt="boxtrindade" title="boxtrindade" id="boxtrindade"/>
                            <br>
                            <small>R$99,90</small>
                            <br>
        <b>Compre Agora</b>
                              </div>

                              <div>
                                <img src="/img/boxtrindade.livro.jpeg" alt="boxtrindade" title="boxtrindade" id="boxtrindade"/>
                                <br>
                                <small>R$99,90</small>
                                <br>
        <b>Compre Agora</b>
                                  </div>
                              
</section>
<h3>Descubra Novas histórias</h3>

<section class = "artigos">
       <article>
        <img src="/img/precisamos-ler-sobre-racismo-mobile.png" alt="racismo" title="racismo" id="racismo"/>
    </article>

    <article>
        <img src="/img/livros-premiados-secundario.png" alt="livrospremiados" title="livrospremiados" id="livrospremiados"/>
    </article>

    <article>
        <img src="/img/editoras-independentes-sec.png" alt="editorasind" title="editorasind" id="editorasind"/>
    </article>

    <article>
        <img src="/img/nova-lit-br-sec.png" alt="novalit" title="novalit" id="novalit"/>
    </article>
</section>
<nav>


<section class = "informacoes">
    <div>
         <p>Desde 2005</p>
         <p>5.838.381LEITORES</p>
         <p> 23.870.721LIVROS VENDIDOS</p>
         <p>Hoje</p>
         <p>LIVROS À VENDA 19.306.735</p>
         <p>  98,54% AVALIAÇÕES POSITIVAS </p>

    </div>
   
</section>
</nav>
<h3>Experiencias com Estante Virtual</h3>
<section class = "experiencia">
        <div>
        <img src="/img/circulolivros.png" alt="circulolivros" title="circulolivros" id="circulolivros"/>
        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consequatur doloremque asperiores cumque odio sunt magnam! Exercitationem iusto necessitatibus labore doloremque optio, perferendis ad dolore, similique suscipit, aliquid fugiat odit?</small>
    </div>

    <div>
        <img src="/img/circulocofre.png" alt="circulocofre" title="circulocofre" id="circulocofre"/>
        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consequatur doloremque asperiores cumque odio sunt magnam! Exercitationem iusto necessitatibus labore doloremque optio, perferendis ad dolore, similique suscipit, aliquid fugiat odit?</small>
    </div>

    <div>
        <img src="/img/circulopropagacao.png" alt="circulopropagacao" title="circulopropagacao" id="circulopropagacao"/>
        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consequatur doloremque asperiores cumque odio sunt magnam! Exercitationem iusto necessitatibus labore doloremque optio, perferendis ad dolore, similique suscipit, aliquid fugiat odit?</small>
    </div>

</section>

<section class = "clubedolivro">
    <p>Clube do Livro</p>
    <button>Clube do Livro</button>

</section>

<section class = "depoimentos">
    <h3>O que estão falando de nós por ai</h3>
    <div>
        <img class = "icones"src="/img/1200px-G1_logo.svg.png" alt="">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati velit pariatur adipisci necessitatibus a molestiae sequi cum fugiat maiores earum eligendi, doloribus, commodi quo perspiciatis aut? Necessitatibus, vitae. Mollitia, ullam?</p>
     </div>

     <div>
        <img class = "icones"src="/img/1200px-G1_logo.svg.png" alt="">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati velit pariatur adipisci necessitatibus a molestiae sequi cum fugiat maiores earum eligendi, doloribus, commodi quo perspiciatis aut? Necessitatibus, vitae. Mollitia, ullam?</p>
     </div>

     <div>
        <img class = "icones"src="/img/1200px-G1_logo.svg.png" alt="">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati velit pariatur adipisci necessitatibus a molestiae sequi cum fugiat maiores earum eligendi, doloribus, commodi quo perspiciatis aut? Necessitatibus, vitae. Mollitia, ullam?</p>
     </div>

     <div>
        <img class = "icones"src="/img/1200px-G1_logo.svg.png" alt="">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati velit pariatur adipisci necessitatibus a molestiae sequi cum fugiat maiores earum eligendi, doloribus, commodi quo perspiciatis aut? Necessitatibus, vitae. Mollitia, ullam?</p>
     </div>

     <div>
        <img class = "icones"src="/img/1200px-G1_logo.svg.png" alt="">
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati velit pariatur adipisci necessitatibus a molestiae sequi cum fugiat maiores earum eligendi, doloribus, commodi quo perspiciatis aut? Necessitatibus, vitae. Mollitia, ullam?</p>
     </div>

</section>

</main>
</nav>
<footer>
<ul>
    <p>Acompanhe a gente</p>
    <li><img src="#" alt="Facebook"></li>
    <li><img src="#" alt="Twiter"></li>
    <li><img src="#" alt="Instagram"></li>
    <li><img src="#" alt="linkedin"></li>
    <li><img src="#" alt="youtube"></li>
 
</ul>

<ul>
    <p>Meios de pagamento </p>
    <li><img src="#" alt="visa"></li>
    <li><img src="#" alt="master"></li>
    <li><img src="#" alt="diners"></li>
    <li><img src="#" alt="americanexpress"></li>
    <li><img src="#" alt="hipercard"></li>
    <li><img src="#" alt="elo"></li>
    <li><img src="#" alt="boleto"></li>
 
</ul>

<ul>
    <p>Certificação</p>
    <li><img src="#" alt="SSL"></li>
    <li><img src="#" alt="Navegacaoseura"></li>
    <li><img src="#" alt="ebit"></li>
    <li><img src="#" alt="compragarantida"></li>
    <li><img src="#" alt="youtube"></li>
 
</ul>




  
</footer>
</body>
</html>